Package: com.rage.titanox
Name: libtitanox
Version: 1
Architecture: iphoneos-arm
Description: A hooking library, particularly for jailed environments!
Maintainer: rage
Author: rage
Section: System
Tag: role::developer
